<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do</title>
</head>
<body>
  <header class="header">
    <h1 class="header-title">To-Do List</h1>


  </header>
  <section class="add-task">

    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Head</mat-label>
        <input matInput  >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>launch your introduction</mat-label>
        <textarea matInput ></textarea>
      </mat-form-field>
    </form>
    <button mat-raised-button color="accent">
      <mat-icon>add</mat-icon>
    </button>
  </section>



  <section class="task-list">

    <div class="menu">
      <ul class="menu-list-items">
        <li class="menu-list-item">
          <a href="">ALL TASKS</a>
        </li>
        <li class="menu-list-item">
          <a href="">TODAY TASKS</a>
        </li>
        <li class="menu-list-item">
         <a href="">TOMMOROW TASKS</a>
        </li>
        <li class="menu-list-item">
          <a href="">UPCOMINGS...</a>
        </li>
      </ul>
    </div>
    <div class="task-table">
      <table border="1">
        <tr>
          <th>1</th>
          <th>2</th>
          <th>2</th>
          <th>3</th>
        </tr>
      </table>

    </div>
  </section>
</body>
</html>

