/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~theme/mixins";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.font-splash {
  @include font-splash;
}

.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
}
